<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.first.mapper.AdminMapper">
  	
  	<!-- 상품 조회 페이지 -->
	<select id="getGoodsDetail" resultType="com.first.domain.LiquorVO">
	
		select lId, name, price, description, cateName, stock 
		from table_liquor where lId = #{lId}
	
	</select>

  	<!-- 상품 총 개수   -->
  	<select id="getGoodsTotal" resultType="int">
  	
  		select count(*) from table_liquor
  		
  		<if test="keyword != null">
  		
  			where Name like '%' || #{keyword} || '%'
  		</if>
  		
  	</select>
  </mapper>