<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.first.mapper.CartMapper">
	
<select id = "getCartList" resultType = "com.first.domain.CartItemVO">
	select * from table_cartitem where memberid = #{memberId}
</select>
	
	<!-- 카트 추가 -->
	<insert id="addItemToCart">

		insert into table_cartitem(memberId, lid , price )
		values(#{memberId},#{lid}, #{itemTotalPrice} )

	</insert>
	
	<select id = "getLidbyMemberId" resultType ="int">
		select lid from table_cartitem where memberid = #{memberId}
	
	</select>
	
	<update id = "updateCartItem">
		UPDATE table_cartitem SET quantity = #{quantity} , price = #{itemTotalPrice} WHERE lid = #{lid} AND memberid = #{memberId}
	</update>
	
	<!--  카트 삭제 -->
	<delete id="deleteCartItemsByLids" parameterType="java.util.List">
	        DELETE FROM table_cartitem
	        WHERE lid IN
	        <foreach collection="list" item="item" open="(" separator="," close=")">
	            #{item}
	        </foreach>
	    </delete>
</mapper>