<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.first.mapper.MemberMapper">
	
<insert id="joinMember" >
  	insert into table_member (memberId, memberPw, memberName, memberPhone, memberEmail, memberAddress1, memberAddress2, adminCk, regDate, updateDate, money)
  	values (#{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberEmail}, #{memberAddress1}, #{memberAddress2}, 0,  SYSDATE, SYSDATE, 0)

  </insert>
  
  <!-- 아이디 중복검사 -->
  	<select id="checkId" resultType="int">
  	
  		select count(*) from table_member where memberId = #{memberId}
  	
  	</select>
  	
  <!-- 로그인 -->
  	<select id="loginMember" resultType="com.first.domain.MemberVO">
      
  	select memberId, memberPw, memberName, memberPhone, memberEmail, memberAddress1, memberAddress2, adminCk, money from table_member where memberId = #{memberId}
      
	</select>
  	
</mapper>