<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.first.mapper.OrderMapper">
  
<!-- 주문 상품 정보 -->
	<select id="getGoodsInfo" resultType="com.first.domain.OrderPageItemDTO">
	
		select lid, name, price,
		from table_liquor where lid = #{lid}	
	
	</select>

  </mapper>