@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
.admin_content_wrap{
	max-width: 1080px;
    margin: auto;
}
.admin_content_subject{
	display: block;
	text-align: center;
    margin: 20px 0;
}
.admin_content_subject span{
	font-weight: 100;
    font-size: 25px;
    color: #55595C;
    text-align: left;
}
.goods_table{
    width: 100%;
    margin-top: 20px;
}
.goods_table li{
	width: 22%;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
}
.liquor_img_s{
	width: 100%;
    margin: 0 auto;
}
.goods-detail{
	text-align: center;
}