@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
.liquor_list_container{
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.admin_content_wrap{
	max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.admin_content_subject{
	display: block;
	text-align: center;
    margin: 20px 0;
}
.admin_content_subject span{
	font-weight: 100;
    font-size: 25px;
    color: #55595C;
    text-align: left;
}
.goods_table{
    width: 100%;
    font-size: 10;
    line-height: 5;
    letter-spacing: 5;
    margin-top: 20px;
}
.liquor_img_s{
	height: 20%;
	
}